option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 940
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 940

files:
  "/.platform/nginx/conf.d/myconfig.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      keepalive_timeout 600;
      proxy_connect_timeout 600;
      proxy_send_timeout 600;
      proxy_read_timeout 600;
      send_timeout 600;
      fastcgi_send_timeout 600;
      fastcgi_read_timeout 600; 